venv-api/
__pycache__/
.ssh/
.local/
.config/
.vscode-server/
.cache/
node_modules/
.npm/
non_requirements.txt
.wget-hsts
.bash_history
.Xauthority
.gitconfig
docker-compose.yml
config.py
.sudo_as_admin*
package.json
package-lock.json
.viminfo
.vuerc