@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bodySect {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    width: 50rem;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.menuboxContainer{
    display: flex;

}
.container1 .welcome-text {
    color: #111;
    font-weight: 800;
    font-size: 2rem; 
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
    
}

.container1 .menubtn {
    display: block;
    width: 100%; 
    height: 20rem;
    margin: 25px;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}

.container1 .menubtn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.buttonDownDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btnDown {
    display: block;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;   
    width: 10rem;
    height: 40px;
}
.btnDown:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}
.btnDown:disabled {
    background: #b5b2ca;
}
.btnDown:disabled:hover {
    transform: translateY(3px);
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

@media (max-width: 430px) {
    .container1 {
        width: 300px;
    }
    .container1 .login-social {
        display: block;
    }
    .container1 .login-social a {
        display: block;
    }
}

.container2 {
    width: 40rem;
    min-height: 70vh;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.menubar{
    display: flex;
    flex-direction: row;
}
.menubtn2 {
    display: block;
    width: 40%; 
    height: 3rem;
    margin: 0.5rem;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}

.menubtn2:hover {
    background: #6c5ce7;
}

.menubtn2:disabled {
    background: #d1cdeb;
}
.menubtn2:disabled:hover {
    background: #dfdfe7;
}




/* examination */
.bookTabButton{
    display: block;
    padding: 5px 20px;
    text-align: center;
    background: #fff;
    border: #887fff solid 1px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #5c52f0;
    cursor: pointer;
    transition: .3s;  
}
.bookTabButton.active{
    color: #fff;
    background: #a29bfe;
}
.container2 .list-group-item {
    transition:background-color 0.2s cubic-bezier(.54,.01,.1,1) !important;
    user-select: none;
}
.container2 .list-group-item:hover {
    background-color: #eae9fa ;
    cursor: pointer;
}
.container2 .tab-pane{
    max-height: 40vh;
    width: 15rem;
    overflow: auto;
}
.container2 .list-group-item.toggle {
    background-color: #bcb8ff !important;
}
.container2 .list-group-item .form-check-input {
    display: none;
}

.container2 .d-flex{
    margin-top: 10%;
    margin-left: 15%;
}


/* seeMyGrade */
.container3 {
    width: 50rem;
    height: 90vh;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}
.menubox{
    display: flex;
    background-color: rgb(54, 207, 49);
    border-radius: 0.5rem;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;   
    align-content: center;
}
.menubox span{
    vertical-align: middle;
}



.testResultContainer .tab-content{
    max-height: 70vh;
    overflow: auto;
}

.list-group-item{
    transition:background-color 0.2s;
}
.list-group-item.active{
    border-color: #e6e4ff !important;
    background-color: #a29bfe !important;
}

.btn-dropdown {
    background-color: #a29bfe !important;
    color: #FFF !important;
}

.ansbox{
    display: flex;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
.ansbox .result-text{
    margin-left: 1rem;
}
.ansbox.wrong-box{
    overflow: hidden;
    border: #ff6e6e !important;
    border-radius: 0.5rem;
    border-style:solid !important;
    border-width: 0.2rem !important;
}
.see-ans{
    padding:.3rem 0.5rem !important;
    width: 8rem;   
}
@media (max-width:600px){
    .see-ans{
        font-size: 0.7rem;
    }
}
.markingText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.markingText p3{
    font-size: 2rem;
}
.markingText p2{
    font-size: 4rem;
}
.markingText p5{
    font-weight: 500;
}

/* Exam-ontake */

.container4 {
    width: 37rem;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
    margin: 2rem;
}
.form-label{
    margin: 0 !important;
    width: 17rem;
    
}
.container4 .wordbox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    
}
.widget-container{
    position:fixed;
    left:80%;
    top:10%;
}
.widget{
    padding: 1rem;
    position:sticky;
    top: 0;
    border: #887fff 0.3rem solid;
    border-radius: 15px;
    align-items: center;
    
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.widgethome{
    padding: 1rem;
    position:sticky;
    top: 0;
    border: #887fff 0.3rem solid;
    border-radius: 15px;
    align-items: center;
    
    background: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.widget p{
    margin: 0;
}

@media (max-width:960px){
    
    .widget-container{
        display: flex;
        justify-content: center;
        position:sticky;
        margin-bottom: 1rem;
        
        left:0%;
        top:0%;
        
    }
    .widget{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        min-width: 50vw;
        max-width: 50rem;
        
    }
    .widget .timer{
        margin-top: 0;
        margin-left: 0.8rem;
    }
    .widget .submitBtn{
        margin: 0;
        margin-right: 0.8rem;
    }
}

@media (max-width:600px){
    .widget{
        padding: 0.5rem;
        
    }
    .widget .timer{
        font-size: 1.2rem;
    }
    .widget .submitBtn{
        font-size: 0.9rem;
    }
}

@media (max-width:480px){
    .widget{
        padding: 0.3;
        
    }
    .widget .timer{
        font-size: 1rem;
        margin-left: 0.3rem;
    }
    .widget .submitBtn{
        font-size: 0.7rem;
        margin-right: 0.3rem;
    }
}

.timer{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 10px;
}
.submitBtn{
    display: block;
    margin: 5px;
    padding: 5px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}

.submitBtn:hover {
    transform: translateY(-2px);
    background: #6c5ce7;
}
.eng-label{
    width: 45%;
}
.result-text{
    width: 45%;
    background-color: #e5e1ffab;
    border-radius: 5px;
    padding: 3px 7px;
    margin-right: 10px;
}