@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
    font-family: 'Nanum Gothic';
    src: url('../fonts/NanumGothic-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight:400;
}
@font-face{
    font-family: 'Nanum Gothic R';
    src: url('../fonts/NanumGothic-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight:800;
    unicode-range: U+AC00-D7A3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic R', 'poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.container1 {
    width: 70rem;
    min-height: 400px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.menuboxContainer{
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    grid-template-areas:  'takeexam seemygrade';
}


.menuboxContainer #menu_takeExam{
    grid-area: takeexam;
}
.menuboxContainer #menu_seeMygrade{
    grid-area: seemygrade;
}

.menuboxContainerT{
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    grid-template-areas:  'managestud seestudgrade'
                          'wordmanager examsettings';
}


.menuboxContainerT #menu_manageStud{
    grid-area: managestud;
}
.menuboxContainerT #menu_seeStudgrade{
    grid-area: seestudgrade;
}
.menuboxContainerT #menu_wordmanager{
    grid-area: wordmanager;
}
.menuboxContainerT #menu_examsettings{
    grid-area: examsettings;
}


@media (max-width:960px){
    .menuboxContainer{
        grid-template-areas:  'takeexam'
                              'seemygrade';
        }
    .menuboxContainerT{
        grid-template-areas:  'managestud' 
                            'seestudgrade'
                            'wordmanager'
                            'examsettings';
        }
}

.container1 .welcome-text {
    font-family: 'Nanum Gothic';
    color: #111;
    font-weight: 800;
    font-size: 2rem; 
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
    
}

.container1 .menubtn {
    font-family: 'Nanum Gothic';
    display: block;
    max-width: 30vw; 
    max-height: 30vw;
    height: 20rem;
    width:20rem;
    margin: 25px;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 2.5rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}

.container1 .menubtn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}


@media (max-width:960px){
    .container1 .menubtn{
        
        max-width: 100vw;
        height:5rem;
        font-size: 2rem;
        margin: 0;
        margin-bottom: 1rem;
    }
}
@media (max-width:600px){
    .container1 .menubtn{
        font-size: 1.5rem;
    }
}
/* 
.SeeMyGradeMenu{
    background: #59d1df !important;
}
.SeeMyGradeMenu:hover {
    transform: translateY(-5px);
    background: #16b5c7 !important;
} */

.titleWrap{
    display: flex;
    justify-content: center;
}
/* 수정해야됨2 */
.toHome{

}
.SeeMyGradeMenuTitle{
    font-family: 'Nanum Gothic';
    display: block;
    width: 40%; 
    height: 3rem;
    margin: 0.5rem;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    transition: .3s; 
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.buttonDownDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.btnDown {
    display: block;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;   
    width: 10rem;
    height: 40px;
}
.btnDown:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}
.btnDown:disabled {
    background: #b5b2ca;
}
.btnDown:disabled:hover {
    transform: translateY(3px);
}

.logoutbtn{
    background: #c4c3c3;
}

.logoutbtn:hover {
    transform: translateY(-5px);
    background: #6c6c70;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

/* @media (max-width: 430px) {
    .container1 {
        width: 300px;
    }
    .container1 .login-social {
        display: block;
    }
    .container1 .login-social a {
        display: block;
    }
} */

.container2 {
    width: 40rem;
    min-height: 70vh;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.menubar{
    display: flex;
    flex-direction: row;
}
.menubtn2 {
    display: block;
    height: 3rem;
    margin: 0.5rem;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}
/* 수정해야됨 */
.seeMyGradeMenu1{
    width: 20%;
}
.menubtn2:hover {
    background: #6c5ce7;
}

.menubtn2:disabled {
    background: #d1cdeb;
}
.menubtn2:disabled:hover {
    background: #dfdfe7;
}




/* examination */
.bookTabButton{
    display: block;
    padding: 5px 20px;
    text-align: center;
    background: #fff;
    border: #887fff solid 1px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #5c52f0;
    cursor: pointer;
    transition: .3s;  
}
.bookTabButton.active{
    color: #fff;
    background: #a29bfe;
}
.container2 .list-group-item {
    transition:background-color 0.2s cubic-bezier(.54,.01,.1,1) !important;
    user-select: none;
}
.container2 .list-group-item:hover {
    background-color: #eae9fa ;
    cursor: pointer;
}
.container2 #book__list .chap-list{
    max-height: 40vh;
    width: 15rem;
    overflow: auto;
}
.container2 .list-group-item.toggle {
    background-color: #bcb8ff !important;
}
.container2 .list-group-item .form-check-input {
    display: none;
}

.container2 .d-flex{
    margin-top: 10%;
    margin-left: 15%;
}

@media (max-width:600px){
    .container2 .d-flex{
        margin-top: 3%;
        margin-left: 5%;
    }
}

/* seeMyGrade */
.container3 {
    width: 60rem;
    height: 90vh;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 3vh;
}
#studExamResultList{
    display: flex;
    max-height: 80%;
}
#studExamResultList .row{
    width: 98%;
    max-height: 100%;
}
#studExamResultList .resultlist{
    width: 40%;
    height: 100%;
    overflow: auto;
}
#studExamResultList .result{
    width: 60%;
    height: 100%;
    overflow: auto;
}
#studExamResultList .result .see-ans{
    font-size: 0.9rem;
    min-width: 5rem;
    padding: .175rem .45rem;
}
@media (max-width:600px){
    #studExamResultList .result .see-ans{
        font-size: 0.9rem;
        min-width: 2rem;
        padding: .05rem .2rem;
    }
}
.list-group-item{
    transition:background-color 0.2s;
}
.list-group-item.active{
    border-color: #e6e4ff !important;
    background-color: #a29bfe !important;
}

.btn-dropdown {
    background-color: #a29bfe !important;
    color: #FFF !important;
}

.ansbox{
    display: flex;
    padding: 0.3rem;
    margin-bottom: 1rem;
}
.ansbox .result-text{
    margin-left: 1rem;
}
.ansbox.wrong-box{
    overflow: hidden;
    border: #ff6e6e !important;
    border-radius: 0.5rem;
    border-style:solid !important;
    border-width: 0.2rem !important;

}
.markingText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.markingText p3{
    font-size: 2rem;
}
.markingText p2{
    font-size: 4rem;
}
.markingText p5{
    font-weight: 500;
}

/* Exam-ontake */
.container4 {
    width: 30rem;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
    margin: 2rem;
}
.form-label{
    margin: 0 !important;
    width: 17rem;
    
}
.container4 .wordbox{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    
}
.eng-label{
    width: 45%;
}
.result-text{
    width: 45%;
    background-color: #e5e1ffab;
    border-radius: 5px;
    padding: 3px 7px;
}


/* exam redirect */


.container5 {
    width: 30rem;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
    margin: 2rem;
}
.buttonDownYesNo{
    
    display: flex;
    flex-direction: Row;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}
.btnYesNo {
    display: block;
    width: 40%; 
    height: 3rem;
    margin: 0.5rem;
    padding: 0 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;  
}

.btnYesNo:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.continueText{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.container5 p1 {
    font-size: 1.5rem;
}

.container5 p2 {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.container2 .modal-body{
    display: flex;
    flex-direction: column;
}
.container2 p1 {
    margin-bottom: 0.3rem;
}

#showGradeModal .btn-group{
    flex-direction: column;
    align-items: flex-start;
}

/* studnet Manage */

.studentlist{
    max-height: 60vh;
    overflow: auto;
}

/* examsettings */

#word-setting-tablewrapper {
    max-height: 45vh;
    width : 30rem;
    max-width: 75vw;
    overflow: auto;
}

#ChaptersDropdown {
    max-height: 20rem;
    overflow: auto;
}

.container6 {
    width: 60rem; 
    max-width: 95vw;  
    min-height: 70vh;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 40px;
}

.wordmanagerTable{
    margin-top: 1rem;
    display: grid;
    justify-items: start;
    grid-gap: 1rem;
    grid-template-areas:  'search haha'
                          'result edit'
                          'result edit';
}

@media (max-width:900px) {
    .wordmanagerTable{
        grid-template-areas:  'search'
                              'result'
                              'edit';
    }
    
}

#word-search-input{
    margin-top: 1rem;
}
#searchArea{
    width: 30rem;
    max-width: 75vw;
    grid-area: search;
    padding: 0;
} 
#word-setting-tablewrapper{
    grid-area: result;
}
#word-setting-tablewrapper th{
    position: sticky; 
    top: 0;
}

#kor-meaning-edit-area{
    grid-area: edit;
} 

#selectedengword{
    font-size: 2rem;
}

#kor-meaning-edit-area textarea{
    width: 20rem;
    max-width: 75vw;
    height: 30vh;

}
.savechanges{
    margin-top: 2rem;
    width:20rem;
}
.table-header{
    background-color: #c0bcff !important;
}

/* examsettings */
#examsettingscontainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#examsettingscontainer .timegivenperprob{
    display:flex;
    justify-content:center;
    align-items: center;
}
#examsettingscontainer .timegivenperprob div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#examsettingscontainer .timegivenperprob input{
    width:50%
}